
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142 10% 15%;
    --foreground: 0 0% 98%;

    --card: 142 10% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 142 10% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 143 100% 71%;
    --primary-foreground: 143 30% 10%;

    --secondary: 143 30% 20%;
    --secondary-foreground: 143 30% 98%;

    --muted: 143 30% 20%;
    --muted-foreground: 143 15% 70%;

    --accent: 143 30% 20%;
    --accent-foreground: 143 30% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 143 30% 30%;
    --input: 143 30% 30%;
    --ring: 143 100% 65%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .light {
    --background: 142 100% 98%;
    --foreground: 143 30% 15%;

    --card: 142 100% 98%;
    --card-foreground: 143 30% 15%;

    --popover: 142 100% 98%;
    --popover-foreground: 143 30% 15%;

    --primary: 143 100% 71%;
    --primary-foreground: 143 30% 15%;

    --secondary: 143 70% 95%;
    --secondary-foreground: 143 30% 25%;

    --muted: 143 20% 90%;
    --muted-foreground: 143 20% 45%;

    --accent: 143 70% 90%;
    --accent-foreground: 143 30% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 143 30% 85%;
    --input: 143 30% 85%;
    --ring: 143 100% 71%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.converter-container {
  @apply from-converter-bg-gradient-from to-converter-bg-gradient-to bg-gradient-converter;
}
